
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}


.container {
  padding: 20px;
}

.header {
  background: #020617;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}


.filters {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.filters input,
.filters select {
  padding: 8px;
  border-radius: 6px;
  border: none;
}


.products {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}


.card {
  background: #1e293b;
  padding: 15px;
  border-radius: 10px;
  width: 200px;
  text-align: center;
}

.card img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}


button {
  background: #38bdf8;
  border: none;
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 5px;
}


.cart {
  margin-top: 30px;
  background: #1e293b;
  padding: 15px;
  border-radius: 10px;
}
