.dashboard {
  margin: 30px 0;
}

.dashboard h2 {
  margin-bottom: 15px;
}

.dashboard-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
}

.dash-card {
  background: #020617;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.dash-card h3 {
  font-size: 30px;
  color: #38bdf8;
}

.dash-card p {
  margin-top: 5px;
  color: #cbd5f5;
}
